captures
.externalNativeBuild
import-summary.txt

#java files
*.class
*.dex

#for idea temp file
*.iws
*.ipr
*.iml

#mac temp file
*.idea/
__MACOSX
*.DS_Store

#test android studio module
*androidTest/
out
*.gradle/
release
build
*bin/
*gen/

#for eclipse
.settings/
local.properties

#temp file
*.bak

*.pmd
